* {
    color: var(--text-default);
}

:root {
    --text-default: #F4F5F7;
    --card: #232E35;
}


.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.9);
}

.content {
    position: relative;
    background-color: var(--card);
    border-radius: 15px;
    padding: 48px;
}

.close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.close_icon:hover {
    background-color: var(--item-click);
    border: 0px;
    border-radius: 50%;
}


/*  =========     info     ========== */

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info h1 {
    font-size: 20px;
    text-align: start;
    margin-bottom: 30px;
}

.info .input_1, .input_2 {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.info label {
    font-size: 16px;
}

.info input {
    text-shadow: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #32414a;
    background-color: #1D2629;
    color: var(--text-default);
    outline: none;
}



/*  =========     input_1 & input_2     ========== */

.input_1 .input_2, label {
    margin-bottom: 5px;
}

.input_2>p {
    margin-top: 5px;
    color: #D4DBE0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}



/*  =========      inside_input_2     ========== */

.inside_input_2 {
    margin-top: 1px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside_input_2 input {
    width: 60%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inside_input_2 p {
    border: 1px solid #32414a;
    height: 40px;
    width: 40%;
    font-size: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}



/*  =========     fetch_data     ========== */

.fetch_data {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    margin-top: 15px;
}

.fetch_data h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 5px;
}

.fetch_data button {
    background-color: #2d444e;
    padding: 0 10px;
    margin-bottom: 10px;
    width: fit-content;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
}



/*  =========     footer     ========== */

.footer {
    margin-top: 40px;
}

.footer button {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #788DF2;
    color: #1D2629;
}

.footer p {
    color: #BFC4C8;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}



/*  ----  Media-Queries  ---- */
@media screen and (max-width: 530px) {
    .content {
        padding: 30px;
        width: 85%;
    }
}

@media screen and (max-width: 490px) {
    .content {
        padding: 55px 30px;
        width: 85%;
    }
}

@media screen and (max-width:450px) {
    .content {
        padding: 65px 20px;
        width: 85%;
    }

    .inside_input_2 input {
        width: 50%;
    }

    .inside_input_2 p {
        width: 50%;
    }
}