/* footer styling start*/
@media (min-width:421px){
    .footer{
    display: flex;
    background-color: #F9F9F9;
    }
    
    .footer_para{
      padding-left: 15px;
    }
    .footer_para_1{
      padding-left: 80px;
      color: grey;
    }
    .footer_para_link {
      outline: none;
      text-decoration: none;
      padding: 2px 1px 0;
    }
    .footerLinks{
      display: flex;
    }
    
    .footer_para_link:link {
      color: #265301;
    }
    
    .footer_para_link:visited {
      color: #437a16;
    }
    
    a:focus {
      border-bottom: 1px solid;
      background: #bae498;
    }
    
    .footer_para_link:hover {
      border-bottom: 1px solid;
      background: #cdfeaa;
    }
    
    .footer_para_link :active {
      background: #265301;
      color: #cdfeaa;
    }
    }
    
    
    @media (max-width: 420px){
      .footer{
        font-size: small;
      }
      .footerLinks{
        display : flex;
      }
      .footer_para{
        padding-left: 10px;
        margin: 0px 0px;
      }
      .footer_para_1{
        position: relative;
        right: 97px;
      }
      .footer_para_link {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
      }
      
      .footer_para_link:link {
        color: #265301;
      }
      
      .footer_para_link:visited {
        color: #437a16;
      }
      
      a:focus {
        border-bottom: 1px solid;
        background: #bae498;
      }
      
      .footer_para_link:hover {
        border-bottom: 1px solid;
        background: #cdfeaa;
      }
      
      .footer_para_link :active {
        background: #265301;
        color: #cdfeaa;
      } 
    
    }
    /* footering styling end */