.container {
    background-color: rgb(46, 45, 45);
    margin: auto;
    width: 40vw;
    color: white;
    padding: 5px 25px;
}

.main1 {
    display: flex;
    margin: 0px;
}

.main1 :nth-child(2) {
    margin-top: 20px;
    height: 18px;
}

.main2 {
    display: flex;
}

.main2 :nth-child(1) {
    margin: 0px;
}

select {
    background: black;
    color: aliceblue;
    height: 4vh;
    margin-left: 10px;
}

.main4 {
    margin: 15px 0px;
    border-radius: 10px;
    padding: 12px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text :nth-child(1) {
    margin: 0;
    padding: 0;
}

.text :nth-child(2) {
    margin: 0;
    font-size: 15px;
}

.text :nth-child(3) {
    margin: 0;
    font-size: 15px;
}

.text :nth-child(4) {
    margin: 0;

    font-size: 15px;
}

.input :nth-child(1) {
    background: black;
    width: 5vw;
    border-radius: 6px;
    height: 3.5vh;
    color: white;
}

.main5 {
    display: flex;
    justify-content: space-between;
}

.select {
    width: 80%;

    height: 5.5vh;
    border-radius: 6px;
}

.btn {
    width: 80%;
    background: rgb(45, 129, 255) !important;
    color: black !important;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sm {
    width: 10vw;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 2px 5px;
    }

    h2 {
        font-weight: 500;
        font-size: 15px;
    }

    .main {
        padding: 4px;
        margin: 3px;
    }


}

@media screen and (max-width: 480px) {
    .container {
        padding: 1px 3px;
        width: 70vw;
    }

    select {
        background: black;
        color: aliceblue;
        height: 4vh;
        margin-left: 0px;
    }
}