.footer{
    background-color:var(--secondary-color);
  } 
  .footer .footer-social a i {
    font-size: 1.5rem;
    color:var(--white-color);
    padding:0 1rem;
  }
  .footer .footer-social a:hover i{
    color:var(--primary-color);
  }