.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/************/
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
.header_login_signup{
    background-color: rgb(88, 69, 194);
    width: 100%;
      float: left;
      margin: 0 0 2em 0;
      padding: 0;
      height: 60px;
  }

  .header_btn_login_signup{
    position: relative;
    left:730px;
    bottom: 50px;
    background-color: rgb(88, 69, 194);
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer; 
  }

  .header_btn_login_signup:hover{
    /* background-color: #E0E1E4; */
    border: 1px solid #ebedf3;
  box-shadow: 0px 0px 20px -18px;
  }
  
  .signlogin_form{
    /* border: 1px solid wheat; */
    /* align-items: center;
    justify-content: center; */
    background-color: #F4F5F7;
    padding: 30;
    height:690px;
    width:550;
    margin:"50px auto";
    border-radius:40;
    box-sizing: border-box;
    /* background-color: rgb(228, 228, 228); */
    
  }
  
  .row{
    display: flex;
    /* flex-direction: column; */
  }
  
  #content {
    width:830px;
    height:520px;
    align-items: flex-start;
    border: 1px solid #e0e6ea;
    border-radius: 23px;
    margin-left: 380px;
    margin-right: 100px;
    margin-top: 70px;
    background-color: #FFFFFF;
    /* box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03); */
  }
  
  .list{
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin-bottom: 60px;
  }
  
  .column {
    flex: 50%;
    /* float: left; */
    width: 50%; 
    padding: 10px;
  }

  .bottom_img{
    display: none;
    width:10px;
    height:10px;
  }
/******Login page css ********/
.login_label{
  /* justify-content: flex-start; */
  font-weight: 200;
  font-size: 18px;
  color: #282c34;
  float: left;
  /* display: inline-block; */
	text-align: start;
  margin-right: 130px;
  font-family: cursive;
}

.login_form{
  display: flex;
  flex-direction: column;
  /* height: 5vh;
  width: 100%; */
  justify-content: space-around;
  align-items: center;
}

.login_input{
  border: 1px solid #e0e6ea;
  height: 2em;
  width: 60%;
  border-radius: 0.25em;
  padding: 0.25em; 
  background-color: white;
  border-color: grey;
  display: inline-block;
	text-align: left;
	/* float: right; */
}

.login_input:hover, .login_input:focus, .login_input-group:hover .login_input{
  outline: none;
  border-color: rgb(79, 80, 164);
  border: 2px solid rgb(79, 80, 164);
}

.login_btn{
  margin-top: 15px;
  border-radius: 25px;
  width: 60%;
  height: 35px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(79, 80, 164);
  /* background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.google_login_btn{
  /* width: 50%;
  height: 2em;
  border-radius: 5px;
  cursor: pointer; */
  /* display: block;
  padding: 0 20px;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  margin: -1px;
  margin-left: 120px;
  overflow: hidden;
  white-space: nowrap; */

  padding: 15px 25px;
  margin-top: 25px;
  cursor: pointer; 
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}

.google_login_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
.google_login_btn:hover {
  color: #e8e8e8;
 }
 
 .google_login_btn:hover::before {
  width: 100%;
 }



@media (max-width: 768px){
  /* html{
    font-size: 45%;
  }  */

  /* .signlogin_form{
    margin-left: 200px;
  } */

  #content{
    margin-left: 20px;
    width:90%;
    height: 80%;
  }

  #column1{
    display: none;
  }

  .header_btn_login_signup{
    width: 20%;
    /* right: auto; */
    left: 75%;
    display: flex;
    justify-content: end;
    
  }

  .header_btn_login_signup:hover{
    /* background-color: #E0E1E4; */
    border: 1px solid #ebedf3;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .bottom_img{
    display: block;
    width:90%;
    height: 80%;
    margin-left: 15px;
    margin-top: 30px;
  }

  .or_image{
    width: 296px;
    height: 40px;

  }
}

@media (max-width: 1250px) and (min-width:960px){
  #content{
    margin-left: 13%;
  }

}

@media (max-width:959px){
  #content{
    margin-left: 5%;
  }
}
